@charset "utf-8";
/* CSS Document */

/*color del borde del cuerpo: #bdc3c7
anchura del borde del cuerpo: 20px
anchura maxima del cuerpo: 700px
anchura del cuerpo: 80%
margen del cuerpo: 20px arriba y abajo, automatico a los lados
padding del cuerpo: 20px*/

body
{
	border-width: 20px !important;
	border: 1px solid #bdc3c7;
	width: 80%;
	margin: 20px auto;
	padding: 20px;
}

/*fuente: Source Sans Pro 400 700
color de la fecha: #3498db
espacio entre las letras de la fecha: 0.2rem
*/

.fecha
{
	font: Sans Pro 400 700;
	color: #3498db;
	word-spacing: 0.2rem;
}

/*color del h2: #2c3e50
El texto del h2 debe ir con la primera letra mayúscula de cada palabra
tamaño de la fuente del h2: 2.0rem
anchura del borde del primer parrafo: 5px
espacio entre el borde y el texto: 5px*/



h2 
{
	color: #2c3e50;
	text-transform: capitalize;
	font-size: 2.0rem;
}


 h2 + p
{
	border-width: 5px !important;	
	border-left: 1px solid gray;
	padding: 5px;
}


/*hr*/

 hr
{ 
	width: 80%;
	 background: linear-gradient(to  right, gray, white); height: 1px; 
} 


