@charset "utf-8";
/* CSS Document */

body{
	background-color: #f2f2f2;
	font-family: 'Roboto', sans-serif;
}


.comentario
{
	margin: 20px 0;
	
}

.form_comentarios textarea
{
	width: 100%;
	height: 84px;
	max-width: 100%;
	max-height: 100%;
	padding: 10px;
	min-height: 84px;
	font-family: 'Roboto', sans-serif;
	line-height: 30px;
	border: 1px solid #4b65d1;
	margin-bottom: 25px;
}


.form_comentarios .btn
{
	background-color: #4b65d1;
	font-family: 'Roboto', sans-serif;
	border-radius: 0;
	color: white;
	margin-bottom: 20px;
	
}

.btn:hover
{
	box-shadow: 0px 0px 9px rgba(0,0,0,.35);
}


.media
{
	border-top: 1px solid #bfbfbf;
	padding-top: 20px;
}

.media img
{
	margin-right: 20px;
}

.media	.nombre
{
	color: #4b65d1;
}

.media .nombre span
{
	font-size: 12px;
	color: #464646;
	margin-left: 18px;
}

.media .comentario
{
	margin-top: 10px;
}

.media .botones
{
	margin-bottom: 10px;
}

.media .botones a
{
	color: #acacac;
	font-size: 14px;
	margin-left: 20px;
}



